<div class="projects-container">
  <!-- Título -->
  <h2 class="projects-title">Projetos</h2>
  <h3 class="projects-subtitle">Uma Seleção de Projetos que Desenvolvi</h3>

  <!-- Projeto 1 -->
  <div class="project-item">
    <div class="project-image">
      <img src="assets/image/sudoku.png" alt="Projeto 1">
    </div>
    <div class="project-details">
      <h4 class="project-name">Sudoku</h4>
      <p class="project-description">
        Breve descrição do projeto explicando suas funcionalidades e objetivos. Destaque os recursos principais e tecnologias utilizadas.
      </p>
      <div class="project-buttons">
        <a href="https://github.com/drtsilva94/Jogo-Sudoku" class="btn-repo" target="_blank">Ver Repositório</a>
      </div>
    </div>
  </div>

  <!-- Projeto 2 -->
  <div class="project-item">
    <div class="project-image">
      <img src="assets/image/Catlendar.png" alt="Projeto 2">
    </div>
    <div class="project-details">
      <h4 class="project-name">Catlendar</h4>
      <p class="project-description">
        Breve descrição do projeto explicando suas funcionalidades e objetivos. Destaque os recursos principais e tecnologias utilizadas.
      </p>
      <div class="project-buttons">
        <a href="https://github.com/drtsilva94/Catlendar" class="btn-repo" target="_blank">Ver Repositório</a>
      </div>
    </div>
  </div>

  <!-- Projeto 3 -->
  <div class="project-item">
    <div class="project-image">
      <img src="assets/image/todoglist.png" alt="Projeto 3">
    </div>
    <div class="project-details">
      <h4 class="project-name">ToDogList</h4>
      <p class="project-description">
        Breve descrição do projeto explicando suas funcionalidades e objetivos. Destaque os recursos principais e tecnologias utilizadas.
      </p>
      <div class="project-buttons">
        <a href="https://github.com/drtsilva94/TO-DOg-List" class="btn-repo" target="_blank">Ver Repositório</a>
      </div>
    </div>
  </div>
</div>
